{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template plagiarism_advacheck/checkbutton

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}
<div class="advacheck {{typeid}}">
    {{{loader}}}
    <div class="advacheck-data {{typeid}}">
        <span class="courseid">{{courseid}}</span>
        <span class="doctype">{{doctype}}</span>
        <span class="content">{{content}}</span>
        <span class="userid">{{userid}}</span>
        <span class="typeid">{{typeid}}</span>
    </div>    
    <a class="advacheck-checkbtn {{typeid}}" title="{{#str}}check_advacheck, plagiarism_advacheck{{/str}}" href="#">
        <i class="fa-solid fa-circle-play fa-2x"></i>
    </a>
</div>
{{{plagiarismresult}}}
